<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylecheet.css">
</head>
<body>
  <div class="Nav">
    <div id="Startsida" class="tabcontent">
      <h1>Siam Shop</h1>
      <p>Asiatiska livsmedel</p>
    </div>

    <div id="Affarside" class="tabcontent">
      <h1>Siam Shop</h1>
      <p>Färska asiatiska grönsaker varje vecka</p>
    </div>

    <div id="Varor" class="tabcontent">
      <h1>Siam Shop</h1>
      <p>Varor från Thailand, Japan, Kina, Korea, Indien</p>
    </div>

    <div id="Kontakt" class="tabcontent">
      <h1>Siam Shop</h1>
      <p>Centralt beläget i innerstan</p>
    </div>

    <div id="Recept" class="tabcontent">
      <h1>Siam Shop</h1>
      <p>Var med om nya smakupplevelser</p>
    </div>

    <button class="tablink" onclick="openCity('Startsida', this, 'purple')" id="defaultOpen">Startsida</button>
    <button class="tablink" onclick="openCity('Affarside', this, 'purple')">Affärsidé</button>
    <button class="tablink" onclick="openCity('Varor', this, 'purple')">Varor</button>
    <button class="tablink" onclick="openCity('Kontakt', this, 'purple')">Kontakt</button>
    <button class="tablink" onclick="openCity('Recept', this, 'purple')">Recept</button>

    <script src="/Users/kungen/Documents/Programmering/Siam Shop/Model/headertab.js"></script>
  </div>


</body>
</html>
