<head>
<style>
  /* Style the tab buttons */

  body {
    background-image: url(https://images.pexels.com/photos/730063/pexels-photo-730063.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);
  }

  .tablink {
    /*background-color: #f2ccff;*/
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #4d004d;
    color: white;
  }

  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    /*font-size: 20px;*/
    display: none;
    padding: 87px;
    text-align: center;
  }

  /* Style each tab content individually */
  #Startsida {background-image: url("/Users/kungen/Documents/Programmering/Siam Shop/pics/asialife.png");}
  /*#Affarside {background-image: url("/Users/kungen/Documents/Programmering/Siam Shop/pics/grass.png");}*/
  #Varor {background-image: url("/Users/kungen/Documents/Programmering/Siam Shop/pics/hanuman.png");}
  #Kontakt {background-image: url("/Users/kungen/Documents/Programmering/Siam Shop/pics/food.jpeg");}
  #Recept {background-image: url("/Users/kungen/Documents/Programmering/Siam Shop/pics/thaimat.png");}

  /* Container holding the image and the text */
  .container1 {
      position: relative;
  }

  /* Bottom right text */
  .text-block2 {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      opacity: 0.75;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
  }

  .table1, td {
    /*border: 10px solid black;*/
    /*padding: 20px;*/
    /*border-spacing: 10px;*/
    padding:0 15px 0 15px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 66%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #4d004d; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /*width: 60%;*/
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #f2ccff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #4d004d;
    color: white;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    background-image: url(https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);
    padding: 20px;
}

a {
  color: white;
}


</style>
</head>
